@font-face {
    font-family: 'Gotham Light';
    font-style: normal;
    font-weight: 500;
    src: local('Gotham Light'), url('https://fonts.cdnfonts.com/s/14898/Gotham-Light.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: 500;
    src: local('Gotham Black'), url('https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff') format('woff');
}

html{
    overflow-y: hidden;
    background: #1f1f36;
}

::-webkit-scrollbar{
    width:0.5vmax;
}

::-webkit-scrollbar-track{
    background: #33345a;
}

::-webkit-scrollbar-thumb{
    background: rgb(161, 0, 140);
}

*{
    margin:0;
    padding:0;
    scroll-behavior:smooth;
}

#loader{
 display:grid;
background: #1f1f36;
 height:100%;
 width:100%;
 z-index:10;
 position:fixed;
}

#load{
  justify-self: center;
  align-self: center;
  object-fit: contain;
  width:20%;
  height:20%;
  margin-top:-5%;
}

body{
    display:grid;
}

.floats{
    margin:2vw 3vw 0px 0px;
    transition: 0.5s;
    position:fixed;
    justify-self: right;
    z-index: 4;
}

#part1{
  background-image: url('./Backgrounds/Jeyemshi_banner_LGBT.webp');
  background-size:100%;
  background-repeat: no-repeat;
  width:100%;
  z-index: 3;
}

video{
    width:100%;
    height:100%
}

.line{
    padding:0px 2vw 0px 2vw;
    color: white;
    font-family: 'Gotham Light', sans-serif;
    pointer-events:none;
    font-size:clamp(18px, 2vw, 1.5vmax);
}

#divider1{
   margin: -3% 0px 0px 0px;
   width:100%;
   position:relative;
   object-fit: contain;
   z-index: 3;
}

.withLine{
    color: white;
    font-family: 'Gotham Light', sans-serif;
    text-decoration: none;
    font-size:clamp(20px, 2vw, 1.5vmax);
    transition: 0.5s;
}

.withLine:hover{
    color: rgb(161, 0, 140);
}

#part2 {
    background-image: url('../Backgrounds/Portfolios_BG.webp');
    background-size:cover;
    margin-top:-5%;
    background-repeat: no-repeat;
    width:100%;
    display:grid;
}

.headers{
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:clamp(10px, 3vw, 3vmax);
    position:relative;
    text-align: center;
    padding: 5% 0px 2% 0px;
    letter-spacing: clamp(2px, 2vw, 2vmax);
}

.headers1{
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:clamp(15px, 3vw, 3vmax);
    position:relative;
    text-align: center;
    padding: 19vw 0px 1vw 1.5vw;
    letter-spacing: clamp(2px, 2vw, 2vmax);
}

iframe{
    padding:13% 0% 35% 5%;
    height:65%;
    width:90%;
}

#divider2{
    margin: -2% 0px 0px 0px;
    width:100%;
    position:relative;
}

#part3 {
    background-image: url('../Backgrounds/Footer.webp');
    background-repeat: no-repeat;
    margin-top: -4%;
    background-size: 100%;
    width:100%;
    height:120%;
}

#footer{
    justify-self: center;
    display:grid;
    justify-content: center;
    margin-bottom: 10vw;
}

.info{
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:clamp(5px, 1.5vw, 2vmax);
    text-align: left;
    margin-top:5%;
    margin-left:2vw;
}

.link{
    color: white;
    font-family: 'Gotham Light', sans-serif;
    font-size:clamp(5px, 1.6vw, 2vmax);
    text-decoration: none;
    transition: 0.5s;
}

.link:hover{
    color: #69ffff;
}

/* Smartphones, Android phones, landscape ihone*/
@media (max-width: 560px) {
    
    #divider2{
        margin: 113% 0px 0px 0px;
        width:100%;
    }

    #part2{
        margin-top:-5%;
        height:320%;
    }

   #part3 {
    background-image: url('../Backgrounds/Footer_Mobile.webp');
    background-size:cover;
    width: 100%;
    height:150%;
   }

    .headers{
        padding: 15% 0px 0% 0px;
        font-size:clamp(10px, 6vw, 60px);
        letter-spacing: clamp(5px, 3vw, 2vmax);
    }

    .headers1{
        padding: 120% 0px 0% 0px;
        font-size:clamp(10px, 6vw, 60px);
        letter-spacing: clamp(5px, 3.5vw, 2vmax);
    }

    iframe{
        padding:80% 0% 0% 6.5%;
        height:15%;
        width:87%;
    }

   .floats{
   justify-self: center;
   margin:5% 0vw 0px 0px;
   z-index:4;
   }

   #works {
    grid-template-rows: repeat(3,35%);
    grid-template-columns: repeat(1,75%);
    padding-top:8% 
   }

   #art {
    display:grid;
    grid-template-columns: repeat(2,50%);
    }

    .info{
        margin-top:7%;
        font-size:clamp(2px, 3vw, 3vmax);
    }
    
    .link{
        font-size:clamp(2px, 3vw, 3vmax);
    }

    .line, .withLine{
        font-size:clamp(3px, 4vw, 4vmax);
    }
}