@import url('http://fonts.cdnfonts.com/css/gotham');

::-webkit-scrollbar{
    width:20px;
}

::-webkit-scrollbar-track{
    background: #33345a;
}

::-webkit-scrollbar-thumb{
    background: rgb(161, 0, 140);
}

*{
    margin:0;
    padding:0;
    scroll-behavior:smooth;
}

body{
    background-color: rgb(28, 4, 23);
    display:grid;
    justify-content:center;
    height: 100%;
}

#part1{
  background-image: url('../Backgrounds/Neon_darker.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index:3;
  width:1900px;
  height:1000px;
  transition:0.5s;

}

.line{
    padding:0px 30px 0px 30px;
    color: white;
    font-family: 'Gotham Light', sans-serif;
    pointer-events:none;
    font-size: 29px;

}

#divider1{
   padding:140px 0px 0px 0px;
   width:1900px;
   position:absolute;

}

.floats{
    padding: 50px 0px 0px 72%;
    position:fixed;
    transition: 0.5s;
    z-index: 4;
}

.withLine{
    color: white;
    font-family: 'Gotham Light', sans-serif;
    text-decoration: none;
    font-size: 27px;
    transition: 0.5s;
}

.withLine:hover{
    color: rgb(161, 0, 140);
}

#part2{
    background-color: black;
    background-repeat: no-repeat;
    width:1900px;
    height:2000px;
    transition:0.5s;
    z-index: 2;
}

.headers{
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:50px;
    text-align: center;
    padding: 450px 0px 30px 50px;
    letter-spacing: 30px;
}

.headers2{
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:50px;
    text-align: center;
    padding: 180px 0px 30px 50px;
    letter-spacing: 30px;
}

#works{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(3,500px);
    grid-template-rows: repeat(3,500px);
    grid-gap:80px;
    margin: 200px 0px 0px 0px;
}

#art1, #art2, #art3,  #art4, #art5, #art6 , #art7, #art8, #art9 {
    width:500px;
    height:500px;
    object-fit:cover;
    object-position: top;
}

.hover{
    transition: 0.5s;
}

.hover:hover{
    transform: scale(1.1); 
    cursor:pointer;
}

#divider2{
    margin: 450px 0px 0px 0px;
    width:1900px;
    position:absolute;
}

#part3{
    background-image: url('../Backgrounds/Footer.png');
    background-size:cover;
    background-repeat: no-repeat;
    z-index:1;
    width:1900px;
    height:1000px;
    transition:0.5s;
}

#footer{
    margin:230px 500px 0px 500px ;
}

.info{
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:27px;
    margin:20px 0px 25px 220px;
}

.link{
    color: white;
    font-family: 'Gotham Light', sans-serif;
    font-size:27px;
    text-decoration: none;
    transition: 0.5s;
    z-index: 1;
}

.link:hover{
    color: #69ffff;
}

.art1, .art2, .art3, .art4, .art5, .art6, .art7, .art8, .art9 {
    position:fixed;
    padding: 5% 4% 3% 5%;
    width:90%;
    height:80%;
    object-fit:contain;
}

#black{
    position:fixed;
    background-color: rgba(0, 0, 0, 0.257);
    background-size:cover;
    z-index:5;
}

.x{
    background-color: azure;
    z-index:6;
    margin:20px 35px 0px 0px;
    border-radius: 50%;
    justify-self:right;
    height:50px;
    width: 50px;
    position:fixed;
    transition:1s;
}

.inner{
    padding-top:8px;
    color: black;
    text-align:center;
    font-family: 'Gotham Light', sans-serif;
    font-size: 30px;
    transition:0.5s;
}

.x:hover{
    background-color: rgb(161, 0, 140);
    cursor:pointer;
}

.x:hover > .inner{
    color: #81ffff;
}

/*Desktop response*/
@media(max-width: 1700px){
    .floats{
     padding: 50px 0px 0px 70%;
    }
}

@media(max-width: 1500px){
 .floats{
  padding: 50px 0px 0px 66%;
 }
}

@media(max-width: 1366px){

    #part1{
        background-size:cover;
        background-repeat: no-repeat;
        width:1366px;
        height:768px;
      }

    #part2{
        background-size:cover;
        background-repeat: no-repeat;
        width:1366px;
        height: 1430px;
      }
      
    #part3{
        background-size:contain;
        background-repeat: no-repeat;
        width:1366px;
        height: 780px;
      }

      #divider1{
        width:1366px;
        margin-top:40px;
      }

      #divider2{
        width:1366px;
        margin-top:300px;
      }

      .options{
        height: 450px;
        width:  400px;
    }
      
    #works{
        grid-template-columns: repeat(3,300px);
        grid-template-rows: repeat(3,300px);
        grid-gap:90px;
        margin: 140px 40px 0px 0px;
    }
    
    #art1, #art2, #art3,  #art4, #art5, #art6 , #art7, #art8, #art9 {
        width:350px;
        height:350px;
    }

     .withLine{
        font-size: 20px;
    }

    .line{
        padding:0px 20px 0px 20px;
        font-size: 22px;
    }

    .floats{
     padding: 50px 0px 0px 73%;
    }

    .headers{
        font-size:45px;
        text-align: center;
        padding: 350px 0px 30px 0px;
        letter-spacing: 30px;
    }
    
    .headers1{
        font-size:35px;
        padding: 100px 0px 0px 0px;
    }
    

    #footer{
        margin:180px 400px 0px 390px ;
    }
    
    .info{
        color: white;
        font-family: 'Gotham Black', sans-serif;
        font-size:20px;
        margin:20px 0px 25px 80px;
    }
    
    .link{
        font-size:20px;
    }
    
}

@media(max-width: 1300px){
 .floats{
  padding: 50px 50px 0px 60.5%;
 }
}

@media(max-width: 1250px){
 .floats{
  padding: 50px 50px 0px 57%;
 }
}

@media(max-width: 1150px){
    .floats{
     padding: 50px 50px 0px 54%;
    }
}

@media(max-width: 1100px){
    .floats{
     padding: 50px 50px 0px 52%;
    }
}

@media(max-width: 1050px){
    .floats{
     padding: 50px 50px 0px 50%;
    }
}

@media(max-width: 1000px){
    .floats{
     padding: 50px 50px 0px 45%;
    }
}

@media(max-width: 910px){
    .floats{
     padding: 50px 50px 0px 44%;
    }
}

@media(max-width: 900px){
    .floats{
     padding: 50px 50px 0px 40%;
    }
}

@media(max-width: 880px){
    .floats{
     padding: 50px 50px 0px 35%;
    }
}

 /*Tablet response*/
 @media (max-width: 768px) {

   .headers{
    font-size: 25px;
    padding:180px 0px 0px 0px;
    letter-spacing: 10px;
   }

   .headers2{
    font-size: 25px;
    padding:90px 0px 0px 0px;
    letter-spacing: 15px;
   }
   
   #part1{
    width: 768px;
    height: 400px;
    object-fit:contain;
   }

   #part3{
  
    width: 768px;
    height:400px;
    object-fit:contain;
   }

   .withLine{
    font-size: 15px;
   }

   .line {
    font-size: 15px;
    padding:0px 10px 0px 10px;
   }

   .floats{
    padding: 30px 0px 0px 60%;
   }
   
   #divider1{
    width:768px;
    padding-top:90px;
   }

   #divider2{
    width:768px;
    margin-top:170px;
   }
   
   #part2{
    width:768px;
    height:900px;
    object-fit:contain;
   }

   .options{
    height: 230px;
    width:  175px;
   }

   #works{
    grid-template-columns: repeat(3,150px);
    margin:80px 40px 0px 0px;
    grid-template-rows: repeat(2,180px);
    grid-gap:80px;
   }

   #art1, #art2, #art3,  #art4, #art5, #art6, #art7, #art8, #art9{
    height:200px;
    width:200px;
   }
   .sets{
    font-size:15px;
    padding-top:5px;
   }

   .art1, .art2, .art3, .art4, .art5, .art6, .art7, .art8, .art9{
    padding: 13% 4% 3% 5%;
   }

   .x{
    justify-self:center;
    margin-right:0px;
   }
   
   #footer{
    margin:50px 50px 0px 65px ;
   }

   .info{
    font-size:13px;
    margin:15px 0px 10px 200px;
   }

   .link{
    font-size:13px;
   }
 }

@media(max-width: 720px){
    .floats{
     padding: 30px 50px 0px 60%;
    }
}

@media(max-width: 700px){
    .floats{
     padding: 30px 50px 0px 56%;
    }
}

@media(max-width: 660px){
    .floats{
     padding: 30px 50px 0px 53%;
    }
}

@media(max-width: 620px){
    .floats{
     padding: 30px 50px 0px 50%;
    }
}

@media(max-width: 580px){
    .floats{
     padding: 30px 50px 0px 45%;
    }
}

@media(max-width: 550px){
    .floats{
     padding: 30px 50px 0px 45%;
    }
}

@media(max-width: 520px){
    .floats{
     padding: 30px 50px 0px 40%;
    }
}

@media (max-width: 500px) {
    /* Smartphones, Android phones, landscape ihone */

   #part1{
    background-image: url('../Backgrounds/neon_mobile.png');
    width:500px;
    height:888px;
    object-position:top right;
   }

   #part2 {
    width:500px;
    height:1190px;
    object-fit: cover;
   }

   #part3 {
    background-image: url('../Backgrounds/Footer_mobile.png');
    width: 500px;
    height:900px;
   }

   #divider1{
    width:500px;
    height:50px;
    object-fit: cover;
    margin-top:30px;
   }

   #divider2{
    width:500px;
    height:50px;
    object-fit: cover;
    margin-top:120px;
   }

   .floats{
    padding: 30px 10% 0px 25%;
    transition:0.5s;
   }

   .withLine{
    font-size: 15px;
   }

   .line {
    font-size: 15px;
    padding:0px 10px 0px 10px;
   }

   .options{
    height: 250px;
    width:  200px;
   }
   
   #art1, #art2, #art3,  #art4, #art5, #art6, #art7, #art8, #art9{
    height:180px;
    width:180px;
   }

   #works {
    grid-template-rows: repeat(5,120px);
    grid-template-columns: repeat(2,120px);
    padding:35px 20px 0px 0px;
   }

   .headers1{
    font-size: 25px;
    padding:320px 0px 0px 0px;
    letter-spacing: 15px;
   }

   .headers{
    font-size: 25px;
    padding:750px 0px 0px 0px;
    letter-spacing: 10px;
   }

   .info{
    margin:15px 0px 10px 66px;
   }

   #footer{
    margin:280px 50px 0px 65px ;
   }
}

@media (max-width: 415px) {
    /* Smartphones, Android phones, landscape ihone */

   #part1{
    background-size:cover;
    background-repeat: no-repeat;
    width:415px;
    height:700px;
   }

   #part2 {
    width:415px;
    height:1050px;
   }

   #part3 {
    background-size: cover;
    width:415px;
    height:715px;
   }

   #divider1{
    width:415px;
    height:45px;
    object-fit: cover;
    margin-top:25px;
   }

   #divider2{
    width:415px;
    height:45px;
    object-fit: cover;
    margin-top:35px;
   }

   .floats{
    padding: 30px 10% 0px 25%;
    position:fixed;
   }

   .withLine{
    font-size: 15px;
   }

   .line {
    font-size: 15px;
    padding:0px 10px 0px 10px;
   }

   .options{
    height: 250px;
    width:  200px;
   }

   #art1, #art2, #art3,  #art4, #art5, #art6, #art7, #art8, #art9{
    height:150px;
    width:150px;
   }

   #works {
    grid-template-rows: repeat(5,100px);
    grid-template-columns: repeat(2,100px);
    padding:0px 10px 0px 0px;
   }

   .headers{
    font-size: 25px;
    text-align:center;
    padding-top:590px;
    padding-left:10px;
    letter-spacing: 15px;
   }

   .headers2{
    font-size: 25px;
    text-align:center;
    padding-top:0px;
    letter-spacing: 15px;
   }

   .info{
    margin:15px 0px 10px 20px;
   }

   #footer{
    margin-top:285px;
   }

  .x{
    justify-self:right;
    margin:14px 13px 0px 0px;
    width:40px;
    height:40px;
   }

   .inner{
    padding-top:5px;
   }

   .art1, .art2, .art3, .art4, .art5, .art6, .art7, .art8, .art9 {
    position:fixed;
    padding: 20% 5% 3% 5%;
}
}

@media (max-width: 395px) {
    /* Smartphones, Android phones, landscape ihone */

   #part1{
    background-size:contain;
    background-repeat: no-repeat;
    width:395px;
    height:700px;
   }

   #part2 {
    width:395px;
    height:1050px;
   }

   #part3 {
    width:395px;
    height:715px;
   }

   #divider1{
    width:395px;
    height:45px;
    object-fit: cover;
    margin-top:25px;
   }

   #divider2{
    width:395px;
    height:45px;
    object-fit: cover;
    margin-top:35px;
   }

   .floats{
    padding: 30px 10% 0px 24%;
    position:fixed;
   }

   .withLine{
    font-size: 15px;
   }

   .line {
    font-size: 15px;
    padding:0px 10px 0px 10px;
   }

   .options{
    height: 250px;
    width:  200px;
   }

   #art1, #art2, #art3,  #art4, #art5, #art6, #art7, #art8, #art9{
    height:150px;
    width:150px;
   }

   #works {
    grid-template-rows: repeat(5,100px);
    grid-template-columns: repeat(2,100px);
    padding:0px 10px 0px 0px;
   }

   .headers{
    font-size: 25px;
    text-align:center;
    padding-top:590px;
    padding-left:10px;
    letter-spacing: 15px;
   }

   .headers2{
    font-size: 25px;
    text-align:center;
    padding-top:0px;
    letter-spacing: 15px;
   }

   .info{
    margin:15px 0px 10px 20px;
   }

   #footer{
    margin-top:275px;
   }

  .x{
    justify-self:right;
    margin:14px 13px 0px 0px;
    width:40px;
    height:40px;
   }

   .inner{
    padding-top:5px;
   }

   .art1, .art2, .art3, .art4, .art5, .art6, .art7, .art8, .art9 {
    position:fixed;
    padding: 20% 5% 3% 5%;
}
}

@media (max-height: 395px) and (orientation: landscape) {

    #part1{
     background-size:cover;
     width:800px;
     height:500px;
    }
 
    #part2 {
     width:800px;
     height:860px;
    }
 
    #part3{
     background-size:contain;
     width:800px;
     height:453px
   
    }
 
    #divider1{
     width:800px;
     height:45px;
     object-fit: cover;
     margin-top:-5px;
    }
 
    #divider2{
     width:800px;
     height:45px;
     object-fit: cover;
     margin-top:200px;
    }
 
    .floats{
     padding: 30px 0% 0px 67%;
     position:fixed;
    }
 
    .withLine{
     font-size: 15px;
    }
 
    .line {
     font-size: 15px;
     padding:0px 10px 0px 10px;
    }
 
    .options{
     height: 250px;
     width:  200px;
    }
   
 
    .headers{
     font-size: 25px;
     text-align:center;
     padding-top:230px;
     letter-spacing: 15px;
    }

    #works{
        grid-template-columns: repeat(3,150px);
        grid-template-rows: repeat(3,150px);
        grid-gap:80px;
        margin: 100px 50px 0px 0px;
    }
    
    #art1, #art2, #art3,  #art4, #art5, #art6 , #art7, #art8, #art9 {
        width:200px;
        height:200px;
    }
    .headers2{
     letter-spacing: 15px;
     font-size: 25px;
     padding: 50px 0px 0px 20px;
     padding-bottom:0px;
     padding-top:50px;
 
    }
    .info{
     font-size: 13px;
     margin:15px 0px 10px 270px;
    }
 
    .link{
     font-size: 13px;
    }
 
    #footer{
     margin:100px 20px 0px 20px;
    }

    .x{
        justify-self:right;
        margin:14px 13px 0px 0px;
        width:40px;
        height:40px;
       }
    
       .inner{
        padding-top:5px;
       }
 }