@font-face {
    font-family: 'Gotham Light';
    font-style: normal;
    font-weight: 500;
    src: local('Gotham Light'), url('https://fonts.cdnfonts.com/s/14898/Gotham-Light.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: 500;
    src: local('Gotham Black'), url('https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff') format('woff');
}

html{
    overflow-y: hidden;
    background: #1f1f36;
}

::-webkit-scrollbar{
    width:0.5vmax;
}

::-webkit-scrollbar-track{
    background: #33345a;
}

::-webkit-scrollbar-thumb{
    background: rgb(161, 0, 140);
}

*{
    margin:0;
    padding:0;
    scroll-behavior:smooth;
}

#loader{
    display:grid;
   background: #1f1f36;
    height:100%;
    width:100%;
    z-index:10;
    position:fixed;
   }

#load {
    justify-self: center;
    align-self: center;
    object-fit: contain;
    width:20%;
    height:20%;
    margin-top:-5%;
}

body{
    display:grid;
}

#part1 {
  background-image: url('../Backgrounds/TP1_VILLABER_dark.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index:3;
  width:100%;
  height:95%;
  margin-top: -8%;
  transition:0.5s;
  display:grid
}

.headers{
    padding:34% 0% 50% 0%;
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:clamp(10px, 3vw, 3vmax);
    position:relative;
    justify-self: center;
    align-self: center;
    letter-spacing: clamp(2px, 2vw, 2vmax);
}

.line{
    padding:0px 2vw 0px 2vw;
    color: white;
    font-family: 'Gotham Light', sans-serif;
    pointer-events:none;
    font-size:clamp(18px, 2vw, 1.5vmax);
}

#divider1 {
    margin: 1% 0px 0px 0px;
    width:100%;
    position:relative;
    object-fit: contain;
}

.floats{
    margin:2vw 3vw 0px 0px;
    transition: 0.5s;
    position:fixed;
    justify-self: right;
    z-index: 5;
}

.withLine{
    color: white;
    font-family: 'Gotham Light', sans-serif;
    text-decoration: none;
    font-size:clamp(20px, 2vw, 1.5vmax);
    transition: 0.5s;
}

.withLine:hover{
    color: rgb(161, 0, 140);
}

#part2{
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -12%;
    width:100%;
    height:110%;
    transition:0.5s;
    z-index: 2;
}

.headers1{
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:clamp(15px, 3vw, 3vmax);
    position:relative;
    text-align: center;
    padding: 19vw 0px 1vw 1.5vw;
    letter-spacing: clamp(2px, 2vw, 2vmax);
}

#works{
    margin: 1% 0% 0% 0%;
    display:grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,27%);
    grid-template-rows: repeat(3,27%);
    grid-gap:3%;
}

#art1, #art2, #art3,  #art4, #art5, #art6 , #art7, #art8, #art9 {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: top;
}

.hover{
    transition: 0.5s;
}

.hover:hover{
    transform: scale(1.1); 
    cursor:pointer;
}

#divider2{
    margin-top:72%;
    width:100%;
    position:absolute;
}

#part3{
    background-image: url('../Backgrounds/Footer.png');
    background-repeat: no-repeat;
    margin-top: -5%;
    padding-top:5%;
    background-size: 100%;
    width:100%;
    height:100%;
}

#footer{
    justify-self: center;
    display:grid;
    justify-content: center;
    padding-bottom: 13vw;
}

.info{
    color: white;
    font-family: 'Gotham Black', sans-serif;
    font-size:clamp(5px, 1.5vw, 2vmax);
    text-align: left;
    margin-top:5%;
    margin-left:2vw;}

.link{
    color: white;
    font-family: 'Gotham Light', sans-serif;
    font-size:clamp(5px, 1.6vw, 2vmax);
    text-decoration: none;
    transition: 0.5s;
}

.link:hover{
    color: #69ffff;
}

.art1, .art2, .art3, .art4, .art5, .art6, .art7, .art8, .art9 {
    position:fixed;
    justify-self: center;
    margin:4vmax 5% 4vmax 5%;
    width:90%;
    height:85%;
    object-fit:contain;
}

#black{
    position:fixed;
    background-color: rgba(0, 0, 0, 0.257);
    background-size:cover;
    z-index:5;
}

.x{
    background-color: azure;
    display:grid;
    z-index:6;
    margin:1vmax 1vmax 0px 0px;
    border-radius: 50%;
    justify-self:right;
    height:3vmax;
    width: 3vmax;
    position:fixed;
    transition:0.3s;
}

.inner{
    justify-self: center;
    align-self: center;
    color: black;
    font-family: 'Gotham Light', sans-serif;
    font-size: 2vmax;
    transition:0.5s;
}

.x:hover{
    background-color: #33345a;
    cursor:pointer;
}

.x:hover > .inner{
    color: rgb(202, 10, 177);
}

/* Smartphones, Android phones, landscape ihone */
@media (max-width: 500px) {

   .floats{
        justify-self: center;
        margin:5% 0vw 0px 0px;
        z-index:4;
        }

   #part1{
    margin-top: -8%;
    }

   .headers{
    text-align: center;
    padding:165% 0% 30% 2%;
    font-size:clamp(7px, 6vw, 60px);
    letter-spacing: clamp(5px, 3vw, 2vmax);
}

   #part2 {
    background-size: 100%;
    margin-top: -20%;
    z-index:2;
    width:100%;
    height:108%;
   }

   .floats{
    justify-self: center;
    margin:5% 0vw 0px 0px;
    z-index:4;
    }

    .line, .withLine{
        font-size:clamp(3px, 4vw, 4vmax);
    }

   #part3 {
    background-image: url('../Backgrounds/Footer_mobile.png');
    background-size:cover;
    width: 100%;
    height:150%;
   }

   #divider2{
    margin-top:186%;
   }
   
   #works {
    margin: 15% 0% -2% 0%;
    display:grid;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: repeat(5,18%);
    grid-column-gap:5%;
   }

  .info{
    margin-top:7%;
    font-size:clamp(2px, 3vw, 3vmax);
  }

  .link{
    font-size:clamp(2px, 3vw, 3vmax);
  }

  #footer{
    padding-bottom: 16vw;
   }

   .inner{
    font-size: 3vmax;
    transition:0.5s;
}
   .x{
    height:4vmax;
    width: 4vmax;
}
   .headers1{
    padding: 140% 0px 0% 0px;
    font-size:clamp(10px, 6vw, 60px);
    letter-spacing: clamp(5px, 3.5vw, 2vmax);
   }
}